@import "tailwindcss";

@theme {
  --color-brand-green: #dcfce7;
  --color-brand-red: #ff5252;
  --color-brand-purple: #8b5cf6;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply antialiased text-gray-800 bg-white font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-gray-900;
  }
}
